:root {
  --font-default: "DM Sans", arial, helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
  --color-body: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Landing Page */

body {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  background: var(--color-body);
  font-family: var(--font-default);
  font-size: 18px;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;
}

button,
.button {
  display: block;
  margin-top: 0.5em;
  padding: 0.75rem 2.5rem;
  border: 0;
  border-radius: 0.5rem;
  background: #fe142f;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

button:hover,
.button:hover {
  background: #3876ac;
}

.topnav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 3.5%;
  overflow: hidden;
}

.topnav a {
  display: block;
  margin: 2px;
  padding: 12px;
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.topnav a:hover {
  border-radius: 15px;
  background-color: #f00;
  color: #fff;
}

.topnav .active {
  border-radius: 15px;
  background-color: #f00;
  color: #fff;
}

.topnav .icon {
  display: none;
}

.header-logo {
  grid-area: topnav;
}

.main-navbar {
  display: flex;
  grid-area: topnav;
  margin-left: auto;
}

@media screen and (max-width: 992px) {
  .topnav {
    display: grid;
    align-items: flex-start;
    grid-template-areas: "topnav";
  }

  .topnav a {
    display: none;
  }

  .topnav .icon {
    display: block;
    align-self: flex-end;
    order: -1;
    width: 44px;
    text-align: center;
  }

  .topnav.responsive a {
    display: block;
  }

  .main-navbar {
    flex-direction: column;
  }
}

main {
  margin: 1px 20px 15px;
  padding-top: 0.5vw;
  padding-right: 2vw;
  padding-left: 2vw;
  border-radius: 2rem;
  color: #000;
  font-size: 130%;
  font-weight: bolder;
  text-align: left;
}

@media screen and (max-width: 992px) {
  main {
    margin: 0;
    padding: 0;
  }
}

.hero-section {
  display: grid;
  min-height: 93vh;
  margin-bottom: 10px;
  grid-template-columns: 1fr;
  border-radius: 10px;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  grid-template-areas: "hero";
}

.hero-content {
  display: grid;
  position: relative;
  min-width: 0;
  grid-template-columns: 400px 1fr 1fr;
  color: #fff;
  grid-area: hero;
}

.hero-headline {
  padding: 51px 67px 0;
  font-size: 6rem;
  font-weight: 400;
  grid-column: 1/4;
}

.hero-headline span {
  display: block;
}

.hero-text {
  margin-top: 57px;
  padding: 0 67px;
  font-weight: 400;
  grid-column: 1/2;
}

.btn-signup {
  margin: auto auto 51px;
  padding: 15px 23px;
  outline: 0;
  font-size: 1.3rem;
  grid-column: 1/2;
}

.hero-img {
  display: grid;
  grid-template-columns: 400px 1fr 1fr;
  background: #232323;
  grid-area: hero;
}

.hero-img img {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  grid-column: 2/4;
  object-fit: cover;
}

.copyrights {
  margin: 60px 0 30px;
  padding: 0;
  color: #fe142f;
  font-size: 1rem;
  font-weight: bolder;
}

.hero-section > .btn-signup {
  display: none;
}

footer {
  margin: 0 20px;
  padding-right: 2vw;
  padding-left: 2vw;
}

@media screen and (max-width: 992px) {
  .hero-section {
    display: block;
    border-radius: 0;
    box-shadow: unset;
  }

  .hero-content {
    display: block;
    padding: 20px;
    background: #fff;
    color: #000;
  }

  .hero-content .btn-signup {
    display: none;
  }

  .hero-headline {
    padding: 0;
    font-size: 3rem;
    white-space: normal;
  }

  .hero-text {
    padding: 0;
    font-size: 1.5rem;
  }

  .hero-img {
    display: block;
  }

  .hero-img img {
    margin-top: 40px;
  }

  .hero-section > .btn-signup {
    display: block;
    margin: 32px auto 10px;
    padding: 12px 35px;
  }

  .copyrights {
    margin-top: 50px;
    text-align: center;
  }
}

.bground {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 39, 156, 0.4);
  overflow: auto;
  z-index: 1;
}

.content {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 5% auto;
  padding-top: 10px;
  animation-name: modalopen;
  border-radius: 10px;
  background: #232323;
  color: #fff;
  overflow: hidden;
  animation-duration: var(--modal-duration);
}

.modal-body {
  margin: 15px auto;
  padding: 15px 8%;
}

.form-reserve {
  position: relative;
}

.form-reserve > * {
  transition: opacity 200ms ease;
  opacity: 1;
}

label {
  display: inline-block;
  margin-bottom: 11px;
  font-family: var(--font-default);
  font-size: 17px;
  font-weight: normal;
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: 0;
}

.text-control {
  width: 100%;
  height: 48px;
  margin: 0;
  padding: 8px;
  border-radius: 8px;
  font-size: 20px;
}

.formData[data-error]::after {
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  transition: 0.3s;
  opacity: 0;
  color: #e54858;
  font-size: 0.55em;
  line-height: 0.3;
  text-align: right;
  content: attr(data-error);
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}

input[data-error]::after {
  color: red;
  font-size: 0.8em;
  content: attr(data-error);
}

.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  position: absolute;
  top: -1px;
  left: -30px;
  width: 20px;
  height: 20px;
  transition: 0.3s;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
}

.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  border-radius: 50%;
  background-color: #279e7a;
  opacity: 0;
  text-indent: 29px;
  white-space: nowrap;
  content: "";
}

.checkbox-input {
  display: none;
}

.checkbox2-label .checkbox-icon::after {
  top: 19%;
  left: 21%;
  width: 7px;
  height: 4px;
  transform: rotate(-55deg);
  border: 2px solid transparent;
  border-radius: 2px;
  border-bottom-color: #fff;
  border-left-color: #fff;
  background: 0 0;
}

.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}

.checkbox2-label .checkbox-icon {
  border: 0;
  border-radius: 4px;
  background: #c4c4c4;
}

.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #279e7a;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  transform: scale(0.7);
  opacity: 1;
  cursor: pointer;
}

.close::after,
.close::before {
  position: absolute;
  left: 15px;
  width: 3px;
  height: 33px;
  background-color: #fff;
  content: " ";
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

.text-label {
  font-size: 16px;
  font-weight: 400;
}

.confirmation-message {
  display: grid;
  position: absolute;
  top: 0;
  right: 0;
  bottom: -5px;
  left: 0;
  background: #232323;
  text-align: center;
  grid-template-areas: "message";
}

.confirmation-message p {
  align-self: center;
  grid-area: message;
}

.confirmation-message button {
  display: block;
  align-self: bottom;
  margin: auto auto 2rem;
  grid-area: message;
}

.confirmation-message.show {
  transform: translateX(0);
  transition: opacity 200ms linear, transform 200ms ease-in-out;
  opacity: 1;
}

.confirmation-message.hide {
  transform: translateX(100%);
  transition: opacity 200ms linear, transform 200ms ease-in-out;
  opacity: 0;
}

@keyframes modalopen {
  from {
    transform: translateY(-150px);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
